/* Estilos generales */

@media print {
  body * {
    visibility: hidden;
  }
  #canvas, #canvas * {
    visibility: visible;
  }
  #canvas {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: 0;
    bottom: 0;
    width: 1200px;
    height: 1200px;
  }
}

button{
  width: 70px;
    height: 23px;
}

.page-container {
   text-align: center;
   align-items: center;
   max-width: 100px;
   padding: 0 10px;
   text-align: center;
  margin: 0 auto;}


@media screen and (max-width: 600px) {
  .page-container {
    max-width: 100%;
    padding: 10px;
  }
}


body {
  margin: 0;
  padding: 0;
  background-color: rgb(255, 255, 255);
}



.header {
  background-image: url("titlemandal.png");
  background-size: cover;
  height: 400px;
}

@media screen and (max-width: 800px) {
  .header {
    max-width: 800px;
  }
}

@media screen and (max-width: 600px) {
  .header {
    max-width: 100%;
  }
}

header img {
  width: 50%;
  height: auto;
  background-size: cover;
  padding: 50px;

}
p{
  text-align: center;
  height: 4em;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: smaller;
  width: 50%;
  padding-top: 15px;
}

p:first-child {
  margin-bottom: 50px;
}


.image-container {
  display: inline-block;
  justify-content: center;
  align-items: center;
  padding: 140px;
  padding: 50px;

  

}
  

img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;


}




select{
  height: 20px;
  width: 70px;
  font-size: smaller;

}

.container {
  display: block;
  grid-template-rows: 1fr auto;
  gap: 10px;
}

.controls-container {
  display: block;
  align-items: center;
  gap: 5px;
  margin-left: 0px;
}

label {
  display: block;
  font-size: 1.2rem;
  margin-left: 0px;
  align-items: center;

}

input[type="color"] {
  height: 40px;
  width: 40px;
  border: none;
  align-items: center;

}

input[type="range"] {
  width: 100px;
  border: none;
}


  


A{
  display: flex;
  text-align: center;
  color: rgb(0, 0, 0);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: smaller;
  display: block; 
  margin-top: 10px;
}


